.intelligence {
  background-color: #e4e8eb;
  .third-bg {
    background-image: url(../../assets/career-background-3.jpg) !important;
  }
  .second-bg {
    background-image: url(../../assets/career-background-2.jpg) !important;
  }

  .intelligence-header {
    background: url(../../assets/career-background.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    min-height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(10,10,10,0.5);
    }

    h2 {
      color: var(--light-clr);
      font-weight: 100;
 max-width: 1140px;
      position: relative;
      z-index: 1;
      width: 90%;
      margin: auto;
      font-size: var(--f-xl);
    }
  }
}
.intelligence-row {
  margin: auto;
  width: 90%;
  max-width: 1140px;
      padding:5px 0;
  .single-job:hover {
    box-shadow: var(--shadow-1);

  }

  .single-job {
    margin: 20px 0;
    transition: var(--transition-2);
    width: 100%;
    background-color: white;
    text-align: center;
    padding: var(--p-sm) var(--p-md);

    h3:hover {
      color: var(--red-clr);
      text-decoration: underline;
      cursor: pointer;
    }
    h3 {
      display: inline-block;
      width: 100%;

      transition: var(--transition);
      font-size: var(--f-md);
    }
    time {
      display: inline-block;
    }
    p {
      color: var(--dark-clr);
      font-size: var(--f-sm);
    }
  }
}

@media screen and (min-width: 599px) {
  .intelligence {
    .intelligence-header {
      min-height: 150px;
    }
  }
}

@media screen and (min-width: 768px) {
  .intelligence {
    .intelligence-header {
      min-height: 175px;
    h2 {
        font-size: var(--f-xl);
      }
    }  
  }
}

@media screen and (min-width: 992px) {
  .intelligence {
        .intelligence-header {
    h2 {   animation: moveright 1.2s 1 ease-out;
      font-size: var(--f-xxl);
    }}
    .intelligence-row {
            padding:var(--p-md) 0;

      .single-job {
       
        animation: moveleft 1.2s 1 ease-out;
        h3 {
          font-size: var(--f-lg);
        }
        p {
          width: 90%;
          margin: auto;
          font-size: var(--f-md);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .intelligence {
    .intelligence-header {
      min-height: 240px;
    }
  }
}
