.backtotopbtn{
 display: flex;
 align-items: center;
 justify-content: center;
position: fixed;
color: rgb(255, 255, 255);
bottom: 1rem;
right: 1rem;
background-color: rgba(0,0,0,0.3);
width: 50px;
height: 50px;
border-radius: 5px;
font-weight: 900;
transition: var(--transition);
animation: moveup 0.5s ease-in ;
z-index: 1;
}
.backtotopbtn:hover{
background-color: var(--light-blue-clr);
}