.services {
  color: var(--dark-clr);
  text-align: center;
  h2 {
    font-weight: 100;
    font-size: var(--f-xl);
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }
  h3 {
    padding: var(--p-sm) 0;
  }
  p {
    color: var(--dark-clr);
  }
  .single-service article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-container {
    max-width: 1140px;
    width: 90%;
    margin: 30px auto;
    text-align: center;

    .single-service {
      padding: var(--p-sm) 0;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: var(--f-xxl);
        padding: 20px;
        transition: var(--transition);
        border-radius: 50%;
      }

      .icon:hover {
        background-color: var(--light-blue-clr);
        color: white !important;
      }
    }
    .quote {
      padding: var(--p-md) 0;

      .quote-wrapper {
        background-color: #eeeeee;
        padding: var(--p-sm) var(--p-md);
        border-radius: 5px;
        q {
          text-align: left;
          font-size: var(--f-xl);
          font-style: oblique;
          font-weight: 100;
          width: 100%;
          line-height: 3rem;
        }
      }
      h5 {
        text-align: left;
        padding: 12px 0 0 var(--p-md);
        font-weight: 800;
        opacity: 0.8;
        font-size: var(--f-md);
      }
    }
  }
}

@media screen and(min-width:768px) {
  .services {
    .services-container {
      .quote {
        .quote-wrapper {
          q {
            line-height: 4rem;
          }
        }
      }
    }
    h2 {
      font-size: var(--f-xxl);
      padding: var(--p-sm);
    }

    .services-col {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: var(--p-sm) 0;

      .single-service {
        width: 25%;
      }
    }
  }
}
