.dropdown {
  background-color: var(--dark-blue-clr);
  display: flex;
  position: absolute;
  bottom: -50px;
  z-index: 1;
  padding: 10px ;
  .single-dropdown:hover {
    color: var(--red-clr);
    cursor: pointer;
  }

  .single-dropdown {
    display: block;
    padding: 10px 0px;
    font-size: var(--f-md);
    transition: var(--transition);
  }
}

@media screen and (max-width:768px) {
.dropdown {
  padding: 0;
 .single-dropdown {
    font-size: var(--f-sm);
    padding: var(--p-sm) ;
 }
position: static;

  .single-dropdown:hover {
    color: var(--red-clr);
    cursor: pointer;
  }}
  
}

