.jobs {
  background: url(../../assets/jobs-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  .jobs-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: var(--f-xl) 0;
    color: var(--light-clr);
    line-height: var(--line-2);
  }
  .jobs-row {
    max-width: 1140px;
    margin: auto;
    width: 90%;
    h2 {
      font-size: var(--f-xl);
      padding-bottom: 8px;
      font-weight: 100;
    }

    time {
      opacity: 1;
    }

    .jobs-col {
      margin: auto;

      h3 {
        margin-bottom: 0;
        font-size: var(--f-md);
      }
      h3:hover {
        color: var(--red-clr);
        text-decoration: underline;
        cursor: pointer;
      }
      time {
        color: #9aa7b5;
        font-size: var(--f-sm);
      }
      p {
        font-size: var(--f-sm);
      }
      button {
        margin: 13px 0;
      }
    }
  }
}
@media screen and (min-width: 599px) {
  .jobs {
    .jobs-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .single-job {
        width: 45%;
      }
    }
  }
}
@media screen and (min-width: 599px) {
  .jobs {
    .jobs-row {
      h2 {
        font-size: var(--f-xxl);
        margin: var(--p-sm) 0;
       
      }
    }
  }
}

@media screen and (min-width: 922px) {
  .jobs {
    .jobs-row {
      animation: movedownSlow 1s ease-in-out;
            h2 {
        margin-top: var(--p-md) ;
       
      }
    }
  }
}
