.navmob {
  margin-top: -5px;
  width: 100%;
  background-color: var(--dark-blue-clr);
  .navmob-container {
    width: 95%;
    max-height: 400px;
    margin: 0 auto;
    transition: var(--transition-2);
  
  }
  li { 
    padding: var(--p-sm) 0;
    font-size: var(--f-sm);
    transition: var(--transition);
  }

  li article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16px;


  }
  .mobnav-link {
    display: block;
    transition: var(--transition);
    color: var(--light-clr);
  }
  .mobnav-link:hover {
    color: var(--red-clr);
  }
  .link-chev {
    transition: var(--transition);
    transform: rotate(180deg);
  }
  .turn-180 {
    transform: rotate(0deg);
    transition: var(--transition);
  }
  .show {

    max-height: 95px;
    transition: var(--transition);
  }
  .hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
}

@media screen and (min-width:922px) {
  .navmob {
    display: none !important;
   
    
  }
}



// dropdown

