.navbar {
  background-color: var(--dark-blue-clr);
  height: 50px;

.nav-container {
  position: relative;
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  align-items: center;
}
.nav-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-logo {
  padding: 0 1rem;
}
img {
  width: 10.5rem;
  height: 50px;
  object-fit: cover;
}
img:hover {
  opacity: 0.8;
}
.nav-links {
  display: none;
}
.nav-link {
  font-size: var(--f-lg);
  color: #edf0f2;
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--red-clr);
}

}
.nav-search,
.nav-toggle {
  display: inline-block;
  color: var(--light-clr);
  font-size: 1.5rem;
  padding-right:  1rem;
  cursor: pointer;
}

@media screen and (min-width: 599px) {
  .navbar {
    height: 80px;

    img {
      width: 12rem;
      height: 90px;
    }
  }
}


@media screen and (min-width: 922px) {
  .navbar {
    height: 102px;
    padding: 0 2rem;

    .nav-search,
.nav-toggle {
  margin-left: 2rem;

}

    .nav-toggle {
      display: none;
    }
    img {
      width: 15rem;
      height: 110px;
    }
    .nav-links {
      display: flex;
      justify-content: end;
      gap: 2rem;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}
