.navbar {
  background-color: var(--dark-blue-clr);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  vertical-align: middle;
  transition: var(--transition);

  .nav-container {
    position: relative;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
  }
  .nav-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-logo {
    padding: 0 0 0 1rem;
  }
  .delomid-logo {
    width: 10.5rem;
    height: 50px;
    object-fit: cover;
    transition: var(--transition);
  }
  .delomid-logo-smaller {
    width: 10.5rem;
    height: 50px;
    object-fit: cover;
    transition: var(--transition);
  }

  img:hover {
    transition: var(--transition);
    opacity: 0.8;
  }
  .nav-links {
    display: none;
  }
  .nav-link {
    padding: 10px 0;
    font-size: var(--f-lg);
    color: #edf0f2;
    transition: var(--transition);
    position: relative;
    z-index: 2;
  }
  .nav-link:hover {
    color: var(--red-clr);
  }

  .close {
    height: 0 !important;
    width: 0 !important;
    overflow: hidden;
  }
}
.nav-search,
.nav-toggle {
  display: inline-block;
  color: var(--light-clr);
  font-size: 1.5rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.nav-search:hover,
.nav-toggle:hover {
  color: var(--red-clr);
}

@media screen and (min-width: 599px) {
  .nav-smaller {
    height: 60px !important;
  }
  .navbar {
    height: 80px;

    .delomid-logo {
      width: 12rem;
      height: 80px;
    }
  }
}

@media screen and (min-width: 922px) {
  .nav-smaller {
    height: 103px !important;
  }

  .navbar {
    height: 103px;
    padding: 0 2rem;
    .nav-link {
      font-size: var(--f-md);
      overflow: hidden;
    }

    .nav-search,
    .nav-toggle {
      margin-left: 2rem;
    }

    .nav-toggle {
      display: none;
    }
    .delomid-logo {
      width: 14rem;
      height: 100px;
    }
    .delomid-logo-smaller {
      width: 14rem;
      height: 90px;
      transform: scale(0.85);
      object-fit: cover;
      transition: var(--transition);
    }
    .nav-links {
      display: flex;
      justify-content: end;
      gap: 2rem;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}
