.business {
  background-image: url('../../assets/career-background.jpg ');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  .business-row {
    background-color: #fffffff2;
    .business-content {
      padding-top: var(--p-md);
    }
    p {
      width: 95%;
      margin: auto;
      opacity: 0.8;
      color: var(--black-clr);
      font-size: var(--f-lg);
    }
    .single-business {
      max-width: 20rem;
      margin: auto;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .big-title {
      padding-bottom: 1rem;
      opacity: 0.7;
    }

    .single-business {
      h3 {
        font-size: 22px;
        transition: var(--transition);
        color: var(--dark-clr);
      }
      h3:hover {
        color: var(--red-clr);
        cursor: pointer;
      }
      p {
        font-size: var(--f-sm);
        line-height: var(--line-2);
      }
    }

    .icon-container {
      position: relative;
      padding: 5px;
    }
    .icon {
      width: 90px;
      height: 90px;
      border: 2px solid var(--light-blue-clr);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .font-icon {
        font-size: 2.5rem;
        color: var(--light-blue-clr);
        padding: 30px;
      }
    }
    .font-icon:hover {
      color: #ffffffaf;
      z-index: 1;
      cursor: pointer;
    }
    .icon-container:hover .overlay {
      bottom: 0;
      height: 100%;
      width: 100%;
      left: 0;
    }

    .overlay {
      position: absolute;
      bottom: 100%;
      left: 50%;
      right: 50%;
      background-color: var(--light-blue-clr);
      overflow: hidden;
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: 0.2s ease;
    }
  }
  .seperator {
    padding-top: 0;
  }
  .seperator-container {
    position: relative;
    padding: 3rem;
  }
  .seperator-down {
    position: absolute;
    border: 1px solid var(--dark-clr);
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.3;
  }
}

@media screen and (min-width: 599px) {
  .business {
    .business-row {
      .seperator {
        width: 30%;
        max-width: 400px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .business {
    .business-container {
      display: flex;
      max-width: 1140px;
      margin: auto;
      column-gap: 1rem;
      padding: 0 10px 40px 10px;
      .single-business {
        padding-top: 3rem;
        justify-content: flex-start;
        height: 270px;
        width: 20%;
        p {
          font-size: var(--f-md);
        }

        // h3:hover {
        //   opacity: 1;
        //   color: var(--red-clr);
        // }
      }
    }
  }
  .seperator {
    padding: var(--p-md);
  }
  .seperator-dark {
    width: 25%;
    max-width: 100%;
  }
  // ----  digital container  ---- //

  .business-row {
    .digital-container {
      max-width: 1140px;
      display: flex;
      margin: auto;
      padding: 0 10px 40px 10px;
      height: auto;
      flex-wrap: wrap;
      .single-business {
        margin: var(--m-sm) auto;
        display: flex;
        justify-content: flex-start;

        width: 28%;
        p {
          font-size: var(--f-md);
        }

        h3:hover {
          opacity: 1;
          color: var(--red-clr);
        }
      }
    }
  }
}

@media screen and (min-width: 922px) {
  .business-row {
    .big-title {
      font-size: var(--f-xxl);
      padding: 1rem 0 2rem 0;
    }
    .business-container,
    .business-content {
      animation: popin 1.2s ease-in-out;
    }
    .digital-container {
      .single-business {
        animation: movedown 1.2s ease-in-out;
        height: 300px;
      }
    }
  }
}
