.business {
  background-image: url('../../assets/career-background.jpg ');
  background-size: cover;
  text-align: center;
  .business-row {
    background-color: #fffffff2;

    .single-business {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h3 {
      padding: 1rem;
    }

    p {
      color: var(--black-clr);
      font-size: var(--f-small);
    }
    .icon-container {
      position: relative;
    }
    .icon {
      width: 90px;
      height: 90px;
      border: 2px solid var(--light-blue-clr);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .font-icon {
        font-size: 2.5rem;
        color: var(--light-blue-clr);
        padding: 30px;
      }
    }
    .font-icon:hover  {
      color: #ffffffaf;
  z-index: 1;
    }
    .icon-container:hover .overlay {
      bottom: 0;
      height: 100%;
      width: 100%;
      left: 0;
    }
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 50%;
      right: 50%;
      background-color: var(--light-blue-clr);
      overflow: hidden;
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: 0.2s ease;
    }
  }
}
// @keyframes hover {
//   0% {

//   }
//   50% {
//   }
//   100% { background-color: purple;

//   }
// }
