.business {
  background-image: url('../../assets/career-background.jpg ');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  .business-row {
    background-color: #fffffff2;

    p {
      opacity: 0.8;
      color: var(--black-clr);
      font-size: var(--f-lg);
    }
    .single-business {
      max-width: 20rem;
      margin: auto;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h3 {
      padding: 1rem;
    }
    .single-business {
      h3 {
        font-size: var(--f-lg);
      }
      p {
        font-size: var(--f-sm);
        line-height: var(--line-2);
      }
    }

    .icon-container {
      position: relative;
    }
    .icon {
      width: 90px;
      height: 90px;
      border: 2px solid var(--light-blue-clr);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .font-icon {
        font-size: 2.5rem;
        color: var(--light-blue-clr);
        padding: 30px;
      }
    }
    .font-icon:hover {
      color: #ffffffaf;
      z-index: 1;
    }
    .icon-container:hover .overlay {
      bottom: 0;
      height: 100%;
      width: 100%;
      left: 0;
    }

    .overlay {
      position: absolute;
      bottom: 100%;
      left: 50%;
      right: 50%;
      background-color: var(--light-blue-clr);
      overflow: hidden;
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: 0.2s ease;
    }
  }
}
@media screen and (min-width: 768px) {
  .business {
    .business-container {
      display: flex;
 
// align-items: flex-start;
// align-content: start;
  

      padding: 2rem;
      gap: 1rem;
    }
    .single-business{
 background-color: yellow;
 width: 20%;
 padding: 0;
 margin: 0;

    }
  }
}
