* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h3 {
  font-size: 1.8rem;
  font-weight: 100;
  opacity: 0.9;
  line-height: 2.5rem;
  transition: var(--transition);
}

p {
  font-size: 1rem;
  color: var(--light-clr);
  line-height: var(--line-2);
}

ul,
li,
a {
  color: var(--light-clr);
  font-size: 0.9rem;
}
li,
a {
  cursor: pointer;
}
time {
  font-size: 14px;
  opacity: 0.6;
  line-height: 2rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

::placeholder {
  opacity: 0.5;
}

:root {
  /*---- colors---- */
  --primary-clr: #1b4454;
  --dark-blue-clr: #2c3e50;
  --light-clr: #edf0f2;
  --light-blue-clr: #43a9d1;
  --red-clr: #fc4349;
  --dark-clr: #2c3e50;

  /*---- padding---- */
  --p-sm: 1rem;
  --p-md: 2rem;
  --p-lg: 3rem;
  --p-xl: 4rem;
  --p-xxl: 5rem;

  /*---- margin---- */
  --m-sm: 1rem;
  --m-md: 2rem;
  --m-lg: 3rem;
  --m-xl: 4rem;
  --m-xxl: 5rem;

  /*---- font---- */
  --f-sm: 14px;
  --f-md: 1rem;
  --f-lg: 20px;
  --f-xl: 1.8rem;
  --f-xxl: 2.2rem;

  /*---- line-hight---- */
  --line-1: 1.2rem;
  --line-2: 1.6rem;
  --line-3: 2rem;

  /*---- transition---- */
  --transition: all 0.2s ease-in-out;
  --transition-2: all 0.4s ease-in-out;

  /*---- shadow ---- */
  --shadow-1: 0px 0px 15px 5px #c4c1c1;
}

/* ---- classes ----*/
.btn {
  color: var(--dark-clr);
  padding: 13px 35px;
  font-size: medium;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  transition: var(--transition);
  margin: 1.5rem 0;
}
.btn:hover {
  color: var(--light-clr);
  background-color: #744ebb;
  cursor: pointer;
}

.seperator {
  border-bottom: 2px solid var(--dark-clr);
  width: 90%;
  padding: 1rem 2rem;
  margin: auto;
  opacity: 0.1;
}

.seperator-dark {
  border: 1px solid var(--dark-clr);
  width: 90%;
  margin: 1rem auto;
  opacity: 0.5;
}
.down-anime {
  animation: movedown 0.5s ease-in-out;
}
.up-anime {
  animation: moveup 0.5s ease-in-out;
}
/* .seperator-container {
  position: relative;
  padding: 3.5rem;
}
.seperator-down {
  position: absolute;
  border: 1px solid var(--dark-clr);
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0.3;
} */

/* .hover-title {
  color: var(--red-clr);
  text-decoration: underline;
  cursor: pointer;
} */

/* ---- key frames ----*/
@keyframes moveup {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveright {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes movedownSlow {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }


  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popin {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}

@keyframes dropdown {
  0% {
    background-color: #744ebb;
    transform: translate(0);
  }

  100% {
    transform: translate(100);
  }
}
