.contacts {
  padding: var(--p-sm) 0;
  .contacts-container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
    h3 {
      padding: 10px 0;
      opacity: 0.6;
    }
  }
  .seperator-container {
    position: relative;
    padding: 1.3rem 0 0.3rem 0;
  }
  .seperator-down {
    position: absolute;
    border: 1px solid var(--dark-clr);
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.1;
  }

  .contacts-row-1 {
    .icons {
      // background-color: aqua;

      display: flex;
      gap: 1rem;
    }
    .icon-wrapper {
      position: relative;
    }
    .font-icon {
      border: 2px solid rgba(134, 132, 132, 0.329);
      padding: 0.8rem;
      width: 100%;
      color: #0072b1;
      display: block;
      z-index: 1;
    }
    .font-icon:hover {
      position: relative;
      color: aliceblue;
      cursor: pointer;
    }
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #3b5998;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
    }
    .icon-wrapper:hover .overlay {
      bottom: 0;
      height: 100%;
      color: aliceblue;
    }
  }
  .contacts-row-2 {
    .icons {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      a {
        color: var(--dark-clr);
        transition: var(--transition);
      }
      a:hover {
        color: var(--red-clr);
        text-decoration: underline;
      }
    }
    .icon {
      color: var(--light-blue-clr);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--light-blue-clr);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: var(--f-lg);
    }
  }
}
@media screen and (max-width: 450px) {
  .contacts {
    .contacts-row-2 {
      .icons {
        gap: 5px;
      }
      .icon {
        width: 40px;
        height: 40px;
      }
      a {
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    .contacts-container {
      padding: 0 0 var(--p-sm) 0;

      .seperator-container {
        padding: 1.6rem 0 0.3rem 0;
      }
    }
    h3 {
      font-size: var(--f-xxl);
      margin: var(--m-sm) 0;
    }
    .contacts-row-2 {
      .icon {
        font-size: var(--f-xl);
        width: 60px;
        height: 60px;
      }
      a {
        font-size: var(--f-md);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .contacts {
    .contacts-container {
      padding: 30px 0 var(--p-lg) 0;
    }
  }
}
